<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title>Using $compile Services</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script type="text/javascript" src="../libs/jQuery_v3.3.1.js"></script><!--load before Angular to prevent jqLite load-->
    <script type="text/javascript" src="../libs/angular.min_v1.7.2.js"></script>
    <script type="text/javascript" src="../js/using_compile_services.js"></script>
</head>

<body>

    <div ng-controller="MainController as main" class="outer-div">

        <p>Enter field label:</p>
        <p><input type="text" ng-model="main.fieldLabel" /></p>

        <p>Enter HTML for new field:</p>
        <p><textarea id="htmlInput" type="text" ng-model="main.htmlMarkup"></textarea></p>

        <p><button ng-click="main.addNewField(main.htmlMarkup)">Add New Field</button></p>

        <hr/>

        <div id="myDiv">
            <p>PlaceHolder Container</p>
        </div>



    </div>

</body>
</html>