<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Angular App</title>
    <meta charset="utf-8" />
    <script src="../libs/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="MainController as main">

        <p>Name: {{main.user.name}}</p>
        <p>Ability: {{main.user.ability}}</p>
        <p>Active?: {{main.user.isActive | yesorno}}</p>

        <!--Form Controls-->
        <hr/>
        <p>Enter name:</p>
        <p><input type="text" ng-model="main.user.name" /></p>

        <p>Select Ability</p>
        <p><select ng-model="main.user.ability" ng-options="ability for ability in main.abilityList"></select></p>

        <p>Select active:</p>
        <p><input type="checkbox" ng-model="main.user.isActive" />Is Active</p>

        <p>Alternate select active:</p>
        <p>
            <input type="radio" ng-model="main.user.isActive" ng-value="true" />yes
            <input type="radio" ng-model="main.user.isActive" ng-value="false" />no
        </p>
       
    </div>
</body>
</html>
