<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Share Data Between Controllers</title>
    <meta charset="utf-8" />
    <script src="../libs/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <!--
        First Method Using Nesting Approach
    

    <div ng-controller="ParentController">

        <div ng-controller="FirstController">
           <input type="text" ng-model="model.name" />
           <p>First Controller: {{ model.name }}</p> 
        </div>

        <div ng-controller="SecondController">
            <input type="text" ng-model="model.name" />
            <p>Second Controller: {{ model.name }}</p>
        </div>
    </div>
    -->

    <div ng-controller="FirstController">
        <input type="text" ng-model="model.name" />
        <p>First Controller: {{ model.name }}</p>
    </div>

    <div ng-controller="SecondController">
        <input type="text" ng-model="model.name" />
        <p>Second Controller: {{ model.name }}</p>
    </div>


</body>
</html>
